.page_shadow{
    margin: 13px auto;
    box-shadow: 1px 1px 3px 1px #333;
    border-collapse: separate;
    position: relative;
    background-color: white;
    overflow: hidden;
    border: 0;
}

.arrow{
    position: absolute;
    z-index: 3;
    left: 38px;
    bottom: 633px;
    width: 13px;
}

.page_size_complete{
    width: 612.060000px;
    height: 792.000000px;
    display: block;
}

.bg_image{
    position: absolute;
    border: 0;
    margin: 0;
    border-collapse: separate;
    left: 0.000000px;
    width: 612.000000px;
    height: 792.000000px;
    bottom: 0.000000px;
    z-index: 0;
}

@font-face {
    font-family: ff1;
    src: url(../font/f1.woff)format("woff");
}

@font-face {
    font-family: ff2;
    src: url(../font/f2.woff)format("woff");
}

.font-text {
    font-family: ff2;
    line-height: 1.126465;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-size: 47.993120px;
    color: black;
    word-spacing: 0.000000px;
    position: absolute;
    white-space: pre;
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    unicode-bidi: bidi-override;
    z-index: 2;
    background-color: white;
}

@font-face{
    font-family: wod;
    src:url(../font/wod1.woff)format("woff");
}

.wod{
    font-family: wod;
    cursor: context-menu;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-size: 45px;
    color: black;
    word-spacing: 0.000000px;
    position: absolute;
    white-space: pre;
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    unicode-bidi: bidi-override;
    z-index: 2;
    background-color: white;
}

.font-header{
    font-size: 43.993360px;
    color:black;
    word-spacing: 0.000000px;
    font-family: ff1;
    line-height: 1.174000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    position: absolute;
    white-space: pre;
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    unicode-bidi: bidi-override;
    letter-spacing: 0.399976px;
    z-index: 2;
    background-color: white;
}

.font-abilities{
    font-size: 67.995920px;
}

.font-abilities-names{
    font-size: 51.995629px;
    letter-spacing: 0.000000px;
}

.font-line {
    z-index: 1;
}

.font-header:after {
    content: ''
}

.font-header:before {
    content: '';
    display: inline-block
}

.font-header span {
    position: relative;
    unicode-bidi: bidi-override
}

/* X */
.pos-column1 {
    left: 37.783200px;
}
.pos-column2 {
    left: 221.783200px;
}
.pos-column3 {
    left: 406.783099px;
}
.pos-column5 {
    left: 254.569600px;
}
.pos-column7 {
    left: 57.717800px;
}
.pos-column8 {
    left: 240.717473px;
}
.pos-column9 {
    left: 424.717413px;
}
.pos-column10 {
    left: 278.482700px;
}

.pos-column7-f {
    left: 140.278500px;
}
.pos-column8-f {
    left: 323.278500px;
}
.pos-column9-f {
    left: 507.278500px;
}
.pos-column1-f {
    left: 153.278500px;
}
.pos-column2-f {
    left: 337.278500px;
}
.pos-column3-f {
    left: 522.278500px;
}
.pos-column11 {
    left: 72.442000px;
}
.pos-column12 {
    left: 225.561600px;
}
.pos-column13 {
    left: 458.744700px;
}
.pos-column14 {
    left: 157.661200px;
}




.pos-column36 {
    left: 97.733000px;
}
.pos-column37 {
    left: 290.733000px;
}
.pos-column38 {
    left: 467.733000px;
}

/* H */
.pos-middle1{
    height: 40.737852px;
}
.pos-middle2 {
    height: 83.947358pt;
}
.pos-middle3 {
    height: 62.964222px;
}
.pos-middle4 {
    height: 48.147952px;
}
.pos-middle5 {
    height: 42.650136px;
}
.pos-middle6 {
    height: 54.144883px;
}


/* Y */

.pos-line1{
    bottom: 687.707100px;
}
.pos-line2 {
    bottom: 669.707180px;
}
.pos-line3 {
    bottom: 651.707260px;
}
.pos-line5 {
    bottom: 632.207100px;
}
.pos-line6 {
    bottom: 618.208100px;
}
.pos-line7 {
    bottom: 602.161800px;
}
.pos-line8 {
    bottom: 589.162580px;
}
.pos-line9 {
    bottom: 576.163360px;
}
.pos-line10 {
    bottom: 555.207100px;
}

.pos-line11 {
    bottom: 539.161400px;
}
.pos-line12 {
    bottom: 526.162180px;
}
.pos-line13 {
    bottom: 513.162960px;
}
.pos-line14 {
    bottom: 500.161745px;
}
.pos-line15 {
    bottom: 487.162525px;
}
.pos-line16 {
    bottom: 474.163305px;
}
.pos-line17 {
    bottom: 461.161745px;
}
.pos-line18 {
    bottom: 448.162525px;
}
.pos-line19 {
    bottom: 435.163305px;
}
.pos-line20 {
    bottom: 403.208100px;
}
.pos-line21 {
    bottom: 385.006000px;
}
.pos-line22 {
    bottom: 372.006070px;
}
.pos-line23 {
    bottom: 359.006000px;
}
.pos-line24 {
    bottom: 346.006000px;
}
.pos-line25 {
    bottom: 333.006000px;
}
.pos-line26 {
    bottom: 320.006000px;
}
.pos-line27 {
    bottom: 295.207100px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}









.matrix-transform{
    transform: matrix(0.25, 0, 0, 0.25, 0, 0)
}

.line_black{
    height: 4px;
    width: 511px;
    background-color: red;
    position: absolute;
}

.line1{
    left:51px;
    bottom: 636px;
    position: absolute;
    z-index: 1;
}

.wing{
    font-family: wod;
    cursor: context-menu;
    font-size: 200%;
}

.wod-modal{
    font-size: 30px;
}